<section id="attrazioni" class="container py-5">
  <h2>Attrazioni principali di Roma</h2>
  <div class="row">
      <div class="col-md-4">
          <img src="filename='images/Colosseo.jpg'" class="img-fluid" alt="Colosseo">
          <h3>Colosseo</h3>
          <p>Il simbolo della Roma antica.</p>
      </div>
      <div class="col-md-4">
          <img src="filename='images/FontanadiTrevi.jpg'" class="img-fluid" alt="Fontana di Trevi">
          <h3>Fontana di Trevi</h3>
          <p>Un gioiello barocco nel cuore della città.</p>
      </div>
      <div class="col-md-4">
          <img src="{{ url_for('static', filename='images/vaticano.jpg') }}" class="img-fluid" alt="Vaticano">
          <h3>Vaticano</h3>
          <p>Il centro della cristianità.</p>
      </div>
  </div>
</section>